@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Onest;
    src: url('assets/fonts/Onest/Onest-VariableFont_wght.ttf');
}

@font-face {
    font-family: Baleny;
    src: url('assets/fonts/Baleny\ Script/baleny-baleny-regular-script-400.ttf');
}

body {
    font-family: Onest;
}

@layer {
    img {
        width: 100%;
    }

    .text-baleny {
        font-family: Baleny;
    }

    .bow-curve {
        width: 100%;
        /* Width of the curve */
        height: 100px;
        /* Height of the curve */
        background: #fff;
        /* Curve color */
        border-radius: 100% 100% 0 0;
        /* Top half of an oval shape */
        margin: 0 auto;
        /* Center it horizontally */
    }


    #panorama {
        width: 100% !important;
        height: 100% !important;

    }

    #panorama .pnlm-controls-container {
        display: none;
    }

    @media (min-width: 1024px) {

        /* Apply styles for screens larger than 1024px */
        .slick-slide {
            margin: 0 5px;
            /* Adjust gap between slides */
        }

        .slick-list {
            margin: 0 -5px;
            /* Avoid extra margin on the sides */
        }
    }





}